
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

main, .head {
  /*visibility: hidden;*/
}

.nav, .top_news, .content{
  width: 100%;
}

@media screen and (min-width: 500px) {
  .ellipsis {
  	white-space: normal;
  }
  .nav {	
    max-height: 89px;
  }
  .news div {
    max-height: 80px;
  }
  .head, .news div {
	font-size: 0.8em;
  }
  .intro_news {
    margin: auto;
  }
  .news .head {
  	max-width: 100%;
  }
  .nav .head {
    font-size: 0.9em;
  }
  section .title_new {
  	max-height: 47px;
  }
}

@media screen and (min-width: 600px) {
  .img_preview {
    min-width: 70px;
    min-height: 70px;
  }
  .title_new {
  	max-width: 90%;
  }
  .head, .news div {
	font-size: 1em;
  }
  .news .head {
  	font-size: 0.9em;
  }
  .nav .head {
    font-size: 1.1em;
  }
  section .title_new {
  	min-height: 55px;
  }
}

@media screen and (min-width: 700px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .head, .news div {
	font-size: 1.2em;
  }
  .news .head {
  	font-size: 1em;
  }
  .nav .head {
    font-size: 1.3em;
  }
  .news div {
  	/*margin-top: 5%;*/
    max-height: 130px;
  }
}

/** Firefox styles fix **/
/*.firefox {
  .nav {
  	margin-bottom: 24px;
  }
  .nav .head {
  	padding: 9.59375px 0;
  }
  .top_news .head {
    padding: 19.1875px 0;
  }
  .head {
  	font-size: 0.6em;
  	padding: 19.1875px 0;
  }
}*/

